

header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--blue-light);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.115);
    color: currentColor;
    z-index: 10;
}


header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

header nav ul:nth-child(2) li a::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 10px;
    background-color: currentColor;
    bottom: -40px;
    opacity: 0;
    transition: all .3s;
}

header nav ul:nth-child(2) li a:hover::before{
    opacity: .8;
    bottom: -20px;
}

/*  */


  header nav ul:nth-child(2) li:nth-last-child(1){
    display: none;
  }

@media screen and (max-width: 1255px){
    header nav ul:nth-child(2) li:nth-child(1),
    header nav ul:nth-child(2) li:nth-child(2),
    header nav ul:nth-child(2) li:nth-child(3),
    header nav ul:nth-child(2) li:nth-child(4),
    header nav ul:nth-child(2) li:nth-child(5),
    header nav ul:nth-child(2) li:nth-child(6){
        display: none;
    }   
    header nav ul:nth-child(2) li:nth-last-child(1){
        display: block;
      }
}

@media screen and (max-width: 600px){
    header nav ul:nth-child(1) li a{
        display: flex;
        justify-content: start;
        padding: 0px;
    }
    header nav ul:nth-child(1) li a img{
        width: 50%;
    }
    header nav ul:nth-child(2) li:nth-last-child(1){
        opacity: .7;
        transform: scale(.7);
      }
    
}

