

.sec__5__card{
    position: relative;
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__5__card img:nth-child(1){
    left: 0;
    top: 0;
    width: 100%;
}
.sec__5__card img:nth-child(2){
    position: absolute;
    width: 60%;
}

@media screen and (max-width: 600px){
    .sec__5__card{
        width: 100%;
    }
    .sec__5__card img:nth-child(1){
        width: 80%;
    }
    .sec__5__card img:nth-child(2){
        width: 50%;
    }
}